.panel.panel-default
  .panel-heading Region Specification
  .panel-body

    .css-treeview
      %ul
        %li
          %input#item-0{:checked => "checked", :type => "checkbox"}/
          %label{:for => "item-0"} Global
          %ul

            %li.has-children
              %input#item-0-0{:checked => "checked", :type => "checkbox"}/
              %label{:for => "item-0-0"}
                %label.check
                  %input{:type => "checkbox"}
                United States

              %ul.subnation
                %li
                  %label.check
                    %input{:type => "checkbox"}
                    CA, California
                %li
                  %label.check
                    %input{:type => "checkbox"}
                    IL, Illinois
                %li
                  %label.check
                    %input{:type => "checkbox"}
                    NY, New York
                %li
                  %label.check
                    %input{:type => "checkbox"}
                    DC, Distric of Columbia


            %li
              %label.check
                %input{:type => "checkbox"}
                Germany

            %li
              %label.check
                %input{:type => "checkbox"}
                Egypt
            %li
              %label.check
                %input{:type => "checkbox"}
                UK
            %li
              %label.check
                %input{:type => "checkbox"}
                Russia
