.panel.panel-default
  .panel-heading Email Targeting
  .panel-body

    .css-treeview
      %ul

        %li
          %input.collapsable{ :id => "item-0", :checked => "checked", :type => "checkbox"}/
          %label.collapsable
            %label.check{:for => "item-0"}
              %input.indeterminate-checkbox{:id => 'me', :checked => "checked", :type => "checkbox"}
              Global
          %ul

            %li
              %input.collapsable{ :id => "item-0-0", :type => "checkbox"}/
              %label.collapsable
                %label.check{:for => "item-0-0"}
                  %input.indeterminate-checkbox{ :name => "united_states", :type => "checkbox"}
                United States

              %ul.subnation

                %li
                  %label
                    %label.check
                      %input{:type => "checkbox", :class => "indeterminate-checkbox"}
                      CA, California
                %li
                  %label
                    %label.check
                      %input{:type => "checkbox", :class => "indeterminate-checkbox"}
                      IL, Illinois
                %li
                  %label
                    %label.check
                      %input{:type => "checkbox", :class => "indeterminate-checkbox"}
                      NY, New York
                %li
                  %label
                    %label.check
                      %input{:type => "checkbox", :class => "indeterminate-checkbox"}
                      DC, Distric of Columbia

            %li
              %input.collapsable{:id => "item-0-0", :type => "checkbox"}/
              %label.collapsable
                %label.check
                  %input{:type => "checkbox", :class => "indeterminate-checkbox"}
                International

              %ul.subnation
                %li
                  %label
                    %label.check
                      %input{:type => "checkbox", :class => "indeterminate-checkbox"}
                      DEU, Germany
                %li
                  %label
                    %label.check
                      %input{:type => "checkbox", :class => "indeterminate-checkbox"}
                      AUS, Australia
                %li
                  %label
                    %label.check
                      %input{:type => "checkbox", :class => "indeterminate-checkbox"}
                        GBR, United Kingdom
                %li
                  %label
                    %label.check
                      %input{:type => "checkbox", :class => "indeterminate-checkbox"}
                        RUS, Russia
