.panel.panel-default
  .panel-heading Email Targeting
  .panel-body

    .css-treeview
      %ul

        %li
          %input.collapsable{ :id => "item-0", :checked => "checked", :type => "checkbox"}/
          %label.collapsable
            %label.check{:for => "item-0"}
              %input.indeterminate-checkbox{:id => 'me', :checked => "checked", :type => "checkbox"}
              = @root_location.name.capitalize
          %ul

            - @root_location.locations.each do |l|
              %li
                %input.collapsable{ :id => "item-0-0", :type => "checkbox"}/
                %label.collapsable
                  %label.check{:for => "item-0-0"}
                    %input.indeterminate-checkbox{ :name => "united_states", :type => "checkbox"}
                  = l.name.split.map(&:capitalize)*' '

                %ul.subnation
                  - l.locations.each do |sub_l|
                    %li
                      %label
                        %label.check
                          %input{:type => "checkbox", :class => "indeterminate-checkbox"}
                          #{sub_l.symbol.upcase}, #{sub_l.name}
