.panel.panel-default
  .panel-heading Email Targeting
  .panel-body

    .css-treeview
      %ul
        %li.has-children
          %input#item-0{:checked => "checked", :type => "checkbox"}/
          %label
            %label.check{:for => "item-0"}
              %input{:id => 'me', :checked => "checked", :type => "checkbox"}
              Global
          %ul

            %li.has-children
              %input#item-0-0{:type => "checkbox"}/
              %label{:for => "item-0-0"}
                %label.check
                  %input{:type => "checkbox"}
                US Only

              %ul.subnation
                %li
                  %label.check
                    %input{:type => "checkbox"}
                    CA, California
                %li
                  %label.check
                    %input{:type => "checkbox"}
                    IL, Illinois
                %li
                  %label.check
                    %input{:type => "checkbox"}
                    NY, New York
                %li
                  %label.check
                    %input{:type => "checkbox"}
                    DC, Distric of Columbia

            %li.has-children
              %input#item-0-0{:type => "checkbox"}/
              %label{:for => "item-0-0"}
                %label.check
                  %input{:type => "checkbox"}
                International

              %ul.subnation
                %li
                  %label.check
                    %input{:type => "checkbox"}
                    DEU, Germany
                %li
                  %label.check
                    %input{:type => "checkbox"}
                    AUS, Australia
                %li
                  %label.check
                    %input{:type => "checkbox"}
                      GBR, United Kingdom
                %li
                  %label.check
                    %input{:type => "checkbox"}
                      RUS, Russia
