/*
 * CSS3 Treeview. No JavaScript
 * @version 1.0
 * @author Martin Ivanov
 * @url developer's website: http://wemakesites.net/
 * @url developer's twitter: https://twitter.com/#!/wemakesitesnet
 * @url developer's blog http://acidmartin.wordpress.com/
 **/
/*
 * This solution works with all modern browsers and Internet Explorer 9+.
 * If you are interested in purchasing a JavaScript enabler for IE8
 * for the CSS3 Treeview, please, check this link:
 * http://experiments.wemakesites.net/miscellaneous/acidjs-css3-treeview/
 **/

.css-treeview {
  font: normal 11px "Segoe UI", Arial, Sans-serif;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.css-treeview {
  ul,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  ul.subnation li {
    margin-left: 12px;
  }

  input {
    position: absolute;
    opacity: 0;
  }

  input:focus {
    outline: 0;
  }

  label {
    cursor: pointer;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
  }

  input:disabled + label {
    cursor: default;
    opacity: 0.6;
  }

  label::before {
    cursor: pointer;
    background: url("/images/checkbox_icons.png") no-repeat 0 -32px;
    content: "";
    width: 16px;
    margin: 0 10px 0 0;
    vertical-align: middle;

    display: inline-block;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
  }

  input:checked + label::before {
    background: url("/images/checkbox_icons.png") no-repeat 0 -16px;
  }

  label.check {
    background: url("");
    margin-left:0px;
  }

  label.check::before {
    margin:0 -10px 0 0;
    background: url("");
  }

  label.check input {
    opacity:1;
    position: relative;
    margin-top:2px;
  }



  a {
    color: #00f;
    text-decoration: none;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
  }

  a:hover {
    text-decoration: underline;
  }

  input + label + ul {
    margin: 0 0 0 22px;
  }
  input ~ ul {
    display: none;
  }

  input:checked:not(:disabled) ~ ul {
    display: block;
  }

}








/* webkit adjacent element selector bugfix */
@media screen and (-webkit-min-device-pixel-ratio:0) {.css-treeview {
    -webkit-animation: webkit-adjacent-element-selector-bugfix infinite 1s;
  }
  @-webkit-keyframes webkit-adjacent-element-selector-bugfix {from {
      padding: 0;
    }
    to {
      padding: 0;
    }
  }
}
